@media all and (min-width:992px){
    .header-menu ul {
        display: flex !important;
    }
}
@media all and (max-width:992px){

    .mobile-menu {
        display: block;
    }
    .header-menu ul {
        display: none;
        position: absolute;
        width: 100%;
        background: #000000;
        top: 15rem;
        left: 0;
        z-index: 99999;
        flex-direction: column;
        padding: 1rem 0;
    }
    .header-menu ul li a {
        padding: 1rem 0 !important;
        display: inline-block;
    }
    .right-footer ul {
        padding: 0 !important;
    }
    .right-footer {
        justify-content: flex-start !important;
    }
}
@media all and (max-width:768px){
    .right-pay-image {
        text-align: center !important;
        margin-top: 4rem;
    }
}
@media all and (max-width:576px){
    .owl-prev {
        right: 50px;
    }
    .owl-next {
        right: 15px;
    }
    .right-footer {
        flex-direction: column;
    }
    .midle-footer {
        padding: 0 !important;
    }
    .left-pay-content h1, .left-pay-content h1 span {
        font-size: 4rem;
    }
    .left-pay-content {
        padding: 0 1rem;
    }
    .right-pay-image img {
        height: 320px;
        width: auto;
    }
}
@media all and (max-width:480px){
    .single-pay {
        margin: 0 auto;
    }
    .popular-title h3 {
        max-width: 200px;
    }
}